 <!--begin
  Name: Nathan Keenan
  Program: Business Information Technology
  Course: WEBD-3011 (277098)
  Created: 2026-04-10
  Updated: 2026-04-13
 -->

<h1><%= @about_page.title %></h1>

<div>
  <%= simple_format(@about_page.content) %>
</div>

<h2>Contact Information</h2>
<p><span class="fw-bold">Telephone:</span> <%= @about_page.telephone %></p>
<p><span class="fw-bold">Address:</span> <%= @about_page.address %></p>
<p><span class="fw-bold">Email:</span> <%= mail_to @about_page.email %></p>