 <!--begin
  Name: Nathan Keenan
  Program: Business Information Technology
  Course: WEBD-3011 (277098)
  Created: 2026-04-13
  Updated: 2026-04-13
 -->

<div class="col">
  <div class="card h-100">
    <div class="card-img-top overflow-hidden" style="height: 220px;">
      <%= render "product_image", product: product %>
    </div>

    <div class="card-body d-flex flex-column">
      <div class="d-flex justify-content-between align-items-start mb-2">
        <h5 class="card-title mb-0"><%= product.product_name.to_s.tr("-", " ").titleize %></h5>
      </div>

      <div class="card-text">
        <%= render "product_summary", product: product %>
      </div>
      <p class="card-text"><%= truncate(product.description.to_s, length: 250) %></p>

      <div class="mt-auto">
        <%= link_to "View Product", product_path(product), class: "btn btn-outline-primary btn-sm" %>
        <% if customer_signed_in? %>
          <%= button_to "Add to Cart", add_item_orders_path(product_id: product.id), method: :post, class: "btn btn-primary btn-sm mt-2" %>
        <% else %>
          <%= link_to "Login to Purchase", new_customer_session_path, class: "btn btn-secondary btn-sm mt-2" %>
        <% end %>
      </div>
    </div>
  </div>
</div>